
/*css reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Generic*/

body{
    background-color: rgb(230, 230, 230);
}

h1{
    display: inline;
    font-size: 3.5rem;
}


.triangle{
    font-size: x-small;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    
}

/*Utils*/
.container{
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px
}

/*header*/
.logotitle{
    background-color: white;
    height: 100px;
    line-height: 100px;
}

/*main*/

.box{
    padding: 10px;
    border-bottom: 2px solid rgb(230, 230, 230);

}

.boxlist{
padding: 10px;
}

.task{
    background-color: #0082d8;
    padding: 7px;
    border-radius: 5px;
    color: white;
}

.sectionbutton{
    padding: 7px;
    border-radius: 5px;
}
    
ul{
    list-style-type: none;
}

.titlelist{
    display: inline;
}

.list{
    padding: 30px 10px;
}

.check{
    color: rgb(8, 194, 8);
    border-radius: 10px;
    border: solid 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center
}

.cross{
    color: red;
    border-radius: 10px;
    border: solid 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center
}


.editorial{
    background-color: #059bff;
    border-radius: 15px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    font-size: small;
    line-height: 30px;
    text-align: center;
}


li{
    padding: 10px;
}

.Q1-goals{
    background-color: #9653ee;
    border-radius: 15px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    font-size: small;
    line-height: 30px;
    text-align: center;
}

.recruiting{
    background-color: #05ffde;
    border-radius: 15px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    font-size: small;
    line-height: 30px;
    text-align: center;
}

.mobile{
    background-color: #ffa805;
    border-radius: 15px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    font-size: small;
    line-height: 30px;
    text-align: center;
}

.website{
    background-color: #ff05ea;
    border-radius: 15px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    font-size: small;
    line-height: 30px;
    text-align: center;
}

.sales{
    background-color: #34fa34;
    border-radius: 15px;
    color: white;
    display: inline-block;
    width: 70px;
    height: 30px;
    font-size: small;
    line-height: 30px;
    text-align: center;
}